<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于我</title>
		<meta name="viewport" content="width = device-width,initial-scale=1.0" />
	</head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" href="../static/css/me.css" />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

	<body>
		<!-- 导航 -->
		<nav class="ui inverted attached segment m-padded-tb-min m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">Blog</h2>
					<a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页 </a>
					<a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类 </a>
					<a href="#" class="m-item item m-mobile-hide"><i class=" tegs icon"></i>标签 </a>
					<a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档 </a>
					<a href="#" class="active  m-item item m-mobile-hide"><i class=" info icon"></i>关于我 </a>
					<div class="right m-item item m-mobile-hide">
						<div class="ui icon inverted transparent input">
							<input type="text" placeholder="search...">
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>

		</nav>

		<!-- 中间内容 -->
		<div class="m-container m-padded-tn-big">
			<div class="ui container">
				<div class="ui stackable grid">
					<div class="ui eleven wide column">
						<div class="ui segment">
							<img src="../static/images/zhanwei.jpg" class="ui rounded image" style="width: 800px;" />
						</div>
						
					</div>
					<div class="ui five wide column">
						<div class="ui attached segment">
							<div class="ui header">关于我</div>
						</div>
						<div class="ui attached segment">
							<p class="m-text">马志成，是一名计算机软件行业的博主。他一直在热衷于分享安卓开发,数据挖掘(Data Mining),学习感悟,C领域的技术知识。他主要关注React.js,JavaScript,WebPack,CSS,...</p>
							<p class="m-text">热爱编程，喜欢折腾，正在探索高效的学习方法</p>
						</div>
						<div class="ui attached segment">
							<div class="ui orange left pointing basic label">编程</div>
							<div class="ui orange left pointing basic label">写作</div>
							<div class="ui orange left pointing basic label">思考</div>
							<div class="ui orange left pointing basic label">运动</div>
						</div>
						<div class="ui attached segment">
							<div class="ui teal left pointing basic label m-magin-tn-tiny">java</div>
							<div class="ui teal left pointing basic label m-magin-tn-tiny">PHP</div>
							<div class="ui teal left pointing basic label m-magin-tn-tiny">Mysql</div>
							<div class="ui teal left pointing basic label m-magin-tn-tiny">redis</div>
							<div class="ui teal left pointing basic label m-magin-tn-tiny">React</div>
							<div class="ui teal left pointing basic label m-magin-tn-tiny">...</div>
						</div>
						<div class="ui bottom attached segment">
							<a href="https://github.com/jikeMisma" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
							<a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
							<a href="#" class="ui qq circular icon button"data-content="2889479657" data-position="bottom center"><i class="qq icon"></i></a>
						</div>
						
						<div class="ui weichar-qr flowing popup transition hidden">
							<img src="static/images/wecaht.png" class="ui rounded image" style="width: 110px;" />
						</div>
					</div>
				</div>
			</div>
			
		</div>



		<!-- 尾部 -->
		<footer class="ui inverted vertical segment m-padded-tn-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<img src="static/images/wecaht.png" class="ui centered rounded image" style="width: 110px;" />
					</div>
					<div class="four wide column">
						<h4 class="ui inverted header">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">关于可以联系的清单</a>
							<a href="#" class="item">失败要乘早</a>
						</div>
					</div>
					<div class="four wide column">
						<h4 class="ui inverted header">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Email：2889479657@qq.com</a>
							<a href="#" class="item">QQ:2889479657</a>
							<a href="#" class="item">Tel:15200371771</a>
						</div>
					</div>
					<div class="five wide column">
						<h4 class="ui inverted header">Blog</h4>
						<p>这是我的个人博客，会反向关于编程，写作，学习，生活，思考等各个方面相关的内容，希望可以和大家共勉，对大家有所帮助</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2019-2020 by mzc.hnust</p>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide');
			});
			
			$('.qq').popup();
			
			$('.wechat').popup({
				popup:$('.weichar-qr'),
				possition:'bottom'
			});
			
		</script>


	</body>
</html>
